[qbittorrent]
host     = "127.0.0.1" # qbittorrent webui-api hostname/ip
port     = 6776        # qbittorrent webui-api port
login    = "user"      # qbittorrent webui-api user
password = "password"  # qbittorrent webui-api password

# some trackers are bugged and need to reannounce before torrent can start
[reannounce]
enabled = true  # true or false
attempts = 10   # attempts to run. Run max 10-30 times
interval = 7000 # interval between attempts in milliseconds